/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set root font-size @10px equivalent */
html {
  font-size: 0.625em;
  /* fallback IE8+ */
  font-size: calc( 1em * 0.625 );
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
}

/* Remove focus for mouse users */
:focus:not(:focus-visible) {
  outline: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1.6rem;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Set cursor pointer */
label[for],
button,
input[type=submit],
select {
  cursor: pointer;
}

/* Remove font style on address */
address {
  font-style: normal;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Print external URLs */
@media print {
  a {
    text-decoration: underline;
  }

  a[href]:not([href^="#"])::after {
    content: "(" attr(href) ")";
  }
}
/* Helper classes */
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  white-space: nowrap;
}

/* Image replacement technique 2012 H5BP  - https://css-tricks.com/the-image-replacement-museum/ */
.ir {
  font: 0/0 a;
  color: transparent;
  border: 0;
  text-shadow: none;
}

header .menu-link:hover, header .menu-link:focus, header .menu-link:not([href]) {
  background-color: #fff;
  color: #FD7E37;
}

footer h3, .main-students h3, .students h3, .hero .title .meet-link, header .menu-link, .follow {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.contact form label, .main-students .student-link, .students .student-link, time {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.formations .cards a, .main-students .cards a, .students .cards a, .actualities .cards a {
  box-shadow: 0px 0px 48px #00000029;
  border-radius: 0.4rem;
  width: 100%;
  color: #331100;
  font-weight: 600;
  align-self: flex-end;
}

.formations .card .card-text-content .card-title, .main-students .card .card-text-content .card-title, .students .card .card-text-content .card-title, .actualities .card .card-text-content .card-title {
  font-weight: 600;
  padding-bottom: 2.4rem;
}

.list-nav {
  font-family: Montserrat;
  font-weight: 400;
  width: 23rem;
  height: 3rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 4rem;
}
.list-nav ul {
  display: flex;
  justify-content: space-between;
  margin-left: -4rem;
}
.list-nav ul li {
  list-style-type: none;
  width: 3rem;
  height: 3rem;
}
.list-nav ul li button {
  border-radius: 0.4rem;
  background-color: transparent;
  width: 3rem;
  border: 1px solid #FD7E37;
  color: #FD7E37;
  padding-left: 0;
  padding-right: 0;
}
.list-nav ul li .activButton {
  color: #FFF;
  background-color: #FD7E37;
}

/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat/montserrat-v15-latin-regular.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v15-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/montserrat/montserrat-v15-latin-500.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v15-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/montserrat/montserrat-v15-latin-600.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v15-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v15-latin-italic.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-600 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/raleway/raleway-v19-latin-600.woff2") format("woff2"), url("../fonts/raleway/raleway-v19-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/raleway/raleway-v19-latin-700.woff2") format("woff2"), url("../fonts/raleway/raleway-v19-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
  line-height: 1.5;
  color: #331100;
  font-family: Raleway, sans-serif;
}

:focus {
  outline: 3px solid #331100;
}

h1, .like-h1 {
  line-height: 5.5rem;
  font-weight: 700;
  font-size: 4rem;
}
@media screen and (min-width: 25.5em) {
  h1, .like-h1 {
    font-size: 5.8rem;
    line-height: 6.5rem;
  }
}
@media screen and (min-width: 32em) {
  h1, .like-h1 {
    font-size: 6.2rem;
  }
}
@media screen and (min-width: 35.6em) {
  h1, .like-h1 {
    font-size: 7.2rem;
    line-height: 8.6rem;
  }
}

h2, .like-h2 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  color: #331100;
}
@media screen and (min-width: 24em) {
  h2, .like-h2 {
    font-size: 4.8rem;
  }
}

h3 {
  font-size: 2rem;
}
@media screen and (min-width: 26em) {
  h3 {
    font-size: 2.4rem;
  }
}

p {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}
@media screen and (min-width: 26em) {
  p {
    font-size: 2rem;
  }
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 137rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.follow {
  font-size: 2rem;
  background-color: #FD7E37;
  color: #FFF;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}
.follow img {
  padding-left: 1.6rem;
}
@media screen and (min-width: 26em) {
  .follow {
    font-size: 2.4rem;
  }
}

time {
  font-size: 1.6rem;
  color: #663014;
}
time img {
  float: left;
  width: 1.5rem;
  margin-right: 0.8rem;
  margin-top: 0.3rem;
}
time p {
  font-size: 1.6rem;
}

header {
  position: relative;
  right: 0;
  left: 0;
  background-color: #FD7E37;
  padding-bottom: 2.2rem;
  padding-top: 2.2rem;
  padding-right: 2.5rem;
  padding-left: 0rem;
}
@media screen and (min-width: 390px) {
  header {
    padding-left: 2.5rem;
  }
}
header .logo-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 3rem;
  color: #FFF;
}
header .header-menu {
  text-align: center;
  background-color: #FD7E37;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 5;
}
header .crossing {
  margin-left: -2rem;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0rem;
}
header .menu-link {
  font-size: 2rem;
  color: #FFF;
  width: 100%;
  padding: 0.7em;
  text-transform: uppercase;
}
@media screen and (min-width: 62em) {
  header {
    padding-right: 0;
    padding-left: 0;
  }
  header [hidden] {
    visibility: visible;
  }
  header .container {
    flex-direction: column;
  }
  header .toggle-menu {
    display: none;
  }
  header .header-menu {
    display: flex;
    position: initial;
  }
  header .logo-title {
    padding-bottom: 3rem;
  }
}
@media screen and (min-width: 73em) {
  header .container {
    flex-direction: row;
  }
  header .logo-title {
    padding-bottom: initial;
  }
}

.toggle-menu {
  margin-left: 2rem;
  display: block;
  background-color: transparent;
  border: 1px solid #FFF;
  border-radius: 1rem;
  height: 5.5rem;
}
.toggle-menu .burger::before, .toggle-menu .burger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}
.toggle-menu .burger::before {
  top: 1rem;
}
.toggle-menu .burger::after {
  bottom: 1rem;
}
.toggle-menu .burger {
  position: relative;
  display: block;
}
.toggle-menu .burger, .toggle-menu .burger::before, .toggle-menu .burger::after {
  color: #FD7E37;
  width: 6rem;
  height: 0.5rem;
  background-color: #FFF;
  border-radius: 0.25rem;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
  transition: transform 0.5s ease-in-out;
}

.cross .burger {
  transform: rotate(-45deg);
}

.cross .burger::before {
  transform: translateY(-1.3rem) rotate(-90deg);
}

.cross .burger::after {
  transform: translateY(1.3rem) rotate(90deg);
}

[hidden] {
  display: block;
  visibility: hidden;
}

.hero {
  height: 90vh;
  background-image: url("../img/photo-arriere-plan.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .crossing {
  margin-left: -3rem;
}
.hero .title {
  background-color: rgba(0, 0, 0, 0.8);
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-top: 2.3rem;
  padding-bottom: 3rem;
  position: absolute;
  top: 17rem;
  right: 0;
  left: 0;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 41em) {
  .hero .title {
    top: 24rem;
  }
}
@media screen and (min-width: 73em) {
  .hero .title {
    left: initial;
    align-items: flex-end;
  }
}
@media screen and (min-width: 60.7em) {
  .hero .title {
    padding-right: 2.8rem;
  }
}
.hero .title h1 {
  text-align: center;
}
.hero .title .dev {
  text-transform: uppercase;
}
.hero .title .meet-link {
  text-align: center;
  font-size: 3rem;
  line-height: 3.6rem;
  color: #FFF;
  background-color: #FD7E37;
  padding: 2rem 3rem;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #707070;
  transition: background-color 0.2s ease-in-out, color 0.5s ease-in-out;
}
.hero .title .meet-link:hover, .hero .title .meet-link:focus {
  background-color: #fff;
  color: #FD7E37;
}
@media screen and (min-width: 40.7em) {
  .hero .title .meet-link {
    text-align: initial;
  }
}
@media screen and (min-width: 60.7em) {
  .hero .title .meet-link {
    margin-right: 2.8rem;
    margin-left: initial;
  }
}
@media (min-resolution: 144dpi) {
  .hero .hero {
    background-image: url("../img/photo-arriere-plan@2x.jpg");
  }
}

.actualities {
  color: #331100;
}
.actualities .cards {
  grid-template-columns: repeat(1, 1fr);
}
.actualities .cards {
  display: grid;
  padding-bottom: 4rem;
  gap: 5rem;
}
.actualities .cards a {
  max-width: 40.4rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.actualities .card {
  margin-right: auto;
  margin-left: auto;
}
.actualities .card .card-img {
  position: relative;
  margin-bottom: 2.4rem;
}
.actualities .card .card-img img {
  margin-left: auto;
  margin-right: auto;
}
.actualities .card .card-text-content {
  flex: 1;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
.actualities .card .card-text-content h3 {
  margin-top: 1.7rem;
}
.actualities .card .card-text-content .card-text {
  padding-bottom: 2.4rem;
}
.actualities a:hover p,
.actualities a:hover h3,
.actualities a:hover time,
.actualities a:hover,
.actualities a:focus p,
.actualities a:focus h3,
.actualities a:focus time,
.actualities a:focus {
  background-color: #FD7E37;
  color: #FFF;
}
@media screen and (min-width: 50.7em) {
  .actualities .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 75.7em) {
  .actualities .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

.main-students, .students {
  color: #331100;
}
.main-students .cards, .students .cards {
  grid-template-columns: repeat(1, 1fr);
}
.main-students h3, .students h3 {
  font-size: 2.4rem;
  padding-bottom: 2rem;
}
.main-students a, .students a {
  padding: 2rem 3rem;
  text-align: center;
}
.main-students .cards, .students .cards {
  display: grid;
  padding-bottom: 4rem;
  gap: 5rem;
}
.main-students .cards a, .students .cards a {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main-students .card, .students .card {
  margin-right: auto;
  margin-left: auto;
}
.main-students .card .card-img, .students .card .card-img {
  position: relative;
  margin-bottom: 2.4rem;
}
.main-students .card .card-img img, .students .card .card-img img {
  margin-left: auto;
  margin-right: auto;
}
.main-students .card .card-text-content, .students .card .card-text-content {
  flex: 1;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
.main-students .card .card-text-content h3, .students .card .card-text-content h3 {
  margin-top: 1.7rem;
}
.main-students .card .card-text-content .card-text, .students .card .card-text-content .card-text {
  padding-bottom: 2.4rem;
}
.main-students .cards a, .students .cards a {
  box-shadow: none;
  padding-top: 1rem;
}
.main-students .student-link, .students .student-link {
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.6rem;
  text-decoration: underline;
}
@media screen and (min-width: 40em) {
  .main-students .cards, .students .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 66.5em) {
  .main-students .cards, .students .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

.main-students {
  background-color: #FD7E37;
}
.main-students h3, .main-students h2, .main-students .student-link {
  color: #FFF;
}
.main-students a:hover p,
.main-students a:hover h3,
.main-students a:hover time,
.main-students a:hover,
.main-students a:focus p,
.main-students a:focus h3,
.main-students a:focus time,
.main-students a:focus {
  background-color: #FFF;
  color: #FD7E37;
}

.students .cards {
  padding-bottom: 0;
}
.students .student-link {
  margin-bottom: 4rem;
  color: #FD7E37;
}
.students a {
  padding-bottom: 0rem;
}
.students a:hover p,
.students a:hover h3,
.students a:hover time,
.students a:hover,
.students a:focus p,
.students a:focus h3,
.students a:focus time,
.students a:focus {
  background-color: #FD7E37;
  color: #FFF;
}

.formations {
  color: #331100;
}
.formations .cards {
  display: grid;
  padding-bottom: 4rem;
  gap: 5rem;
}
.formations .cards a {
  max-width: 62.2rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.formations .card {
  margin-right: auto;
  margin-left: auto;
}
.formations .card .card-img {
  position: relative;
  margin-bottom: 2.4rem;
}
.formations .card .card-img img {
  margin-left: auto;
  margin-right: auto;
}
.formations .card .card-text-content {
  flex: 1;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
.formations .card .card-text-content h3 {
  margin-top: 1.7rem;
}
.formations .card .card-text-content .card-text {
  padding-bottom: 2.4rem;
}
.formations .cards {
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 1060px) {
  .formations .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
.formations a:hover p,
.formations a:hover h3,
.formations a:hover time,
.formations a:hover,
.formations a:focus p,
.formations a:focus h3,
.formations a:focus time,
.formations a:focus {
  background-color: #FD7E37;
  color: #FFF;
}
.formations .intro {
  line-height: 1.2;
  font-weight: 600;
  font-size: 1.7rem;
  width: 100%;
  max-width: 84rem;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 22em) {
  .formations .intro {
    font-size: 2rem;
  }
}
@media screen and (min-width: 29em) {
  .formations .intro {
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 34em) {
  .formations .intro {
    line-height: 1.5;
  }
}

.oneformation-hero {
  background-image: url("../img/module-html.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.oneformation-hero .formation-title {
  font-size: 4rem;
  text-align: center;
  padding-top: 17.2rem;
  padding-bottom: 17.2rem;
  color: #FFF;
}
@media screen and (min-width: 570px) {
  .oneformation-hero .formation-title {
    font-size: 6rem;
  }
}
@media screen and (min-width: 680px) {
  .oneformation-hero .formation-title {
    font-size: 7.2rem;
  }
}
@media (min-resolution: 144dpi) {
  .oneformation-hero .hero {
    background-image: url("../img/module-html@2x.jpg");
  }
}

.main-oneformation p {
  color: #331100;
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  width: 100%;
  max-width: 84rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4rem;
  padding-top: 4rem;
  line-height: 1.2;
}
@media screen and (min-width: 24.5em) {
  .main-oneformation p {
    font-size: 2rem;
  }
}
@media screen and (min-width: 37.5em) {
  .main-oneformation p {
    line-height: 1.6;
    font-size: 2.4rem;
  }
}

.oneactuality {
  color: #331100;
  width: 100%;
  max-width: 84rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 4rem;
}
.oneactuality .like-h2 {
  padding-right: 2rem;
  padding-left: 2rem;
  font-size: 2.8rem;
}
.oneactuality figure {
  padding-bottom: 4rem;
}
.oneactuality figure img {
  width: 100%;
  max-width: 84rem;
}
.oneactuality time {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 4rem;
}
.oneactuality .actuality-text {
  line-height: 1.2;
  padding-bottom: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1.5rem;
}
@media screen and (min-width: 32.5em) {
  .oneactuality .actuality-text {
    line-height: 1.5;
  }
}
@media screen and (min-width: 40.6em) {
  .oneactuality .actuality-text {
    font-size: 2rem;
  }
}
@media screen and (min-width: 55em) {
  .oneactuality .actuality-text {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 23.8em) {
  .oneactuality {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 36em) {
  .oneactuality {
    font-size: 4rem;
  }
}
@media screen and (min-width: 43.2em) {
  .oneactuality like-h2 {
    padding-right: 0;
    padding-left: 0;
  }
}

.contact {
  color: #331100;
}
.contact h1 {
  padding-bottom: 14.1rem;
}
.contact form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 2rem;
  column-gap: 3.2rem;
}
@media screen and (min-width: 62em) {
  .contact form {
    grid-template-columns: repeat(2, 1fr);
  }
}
.contact form input, .contact form textarea {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #707070;
  width: 100%;
  font-family: Montserrat, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 2rem;
  color: #33110080;
}
.contact form textarea {
  height: 22rem;
}
.contact form .fullwidth {
  grid-column: 1/-1;
}
.contact form label {
  display: block;
  font-size: 2rem;
}
.contact form .btn {
  max-width: 18rem;
  border: 0;
}
.contact form .align-right {
  margin-bottom: 4rem;
  display: flex;
  justify-content: flex-end;
}

.confidentiality {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 4rem;
}
@media screen and (min-width: 63em) {
  .confidentiality {
    padding-left: 11rem;
    padding-right: 11rem;
  }
}
@media screen and (min-width: 71.2em) {
  .confidentiality {
    padding-left: 22rem;
    padding-right: 22rem;
  }
}
.confidentiality p {
  padding-left: 4rem;
  padding-right: 4rem;
}

.onestudent {
  padding-top: 4rem;
}
.onestudent h2 {
  line-height: 3rem;
}
.onestudent figure, .onestudent img {
  width: 100%;
  max-width: 40.4rem;
  margin-right: auto;
  margin-left: auto;
}
.onestudent figure img, .onestudent img img {
  border-radius: 50%;
}
.onestudent ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 4rem;
  column-gap: 3.6rem;
  padding-left: 0;
  padding-bottom: 4rem;
}
.onestudent ul li {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
}
.onestudent ul li h3 {
  font-weight: 600;
  padding-bottom: 2rem;
}
.onestudent ul li p {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}
@media screen and (min-width: 34em) {
  .onestudent ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 64.5em) {
  .onestudent ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
.onestudent .some-words p {
  padding-bottom: 4rem;
}
.onestudent .some-words h3 {
  padding-bottom: 2rem;
}

footer {
  background-color: #FD7E37;
  color: #FFF;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  border: 1px solid #707070;
}
footer h3 {
  font-size: 2rem;
}
footer .address {
  max-width: 34.4rem;
  padding-bottom: 3rem;
}
footer .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4rem;
  padding-top: 4rem;
  flex-wrap: wrap;
}
footer .mentions {
  padding-bottom: 3rem;
}
footer .mentions .mentions-link {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #FFF;
}
footer .mentions .mentions-link:hover, footer .mentions .mentions-link:focus {
  background-color: #fff;
  color: #FD7E37;
}
footer .socialNetworks {
  margin-right: auto;
  margin-left: auto;
}
footer .socialNetworks .socialNetworks-link:not(:last-child) {
  margin-right: 6.6rem;
}
@media screen and (min-width: 71.5em) {
  footer .address {
    max-width: 40.4rem;
    width: 100%;
  }
  footer .socialNetworks {
    margin-right: 0;
    margin-left: 0;
  }
}
@media screen and (min-width: 54.5em) {
  footer .container {
    flex-direction: row;
    text-align: initial;
  }
  footer .mentions {
    margin-right: 2rem;
    padding-bottom: 0;
  }
}

/*# sourceMappingURL=dwwm.css.map */
