@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set root font-size @10px equivalent */
html {
  font-size: 0.625em;
  /* fallback IE8+ */
  font-size: calc( 1em * 0.625 );
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
}

/* Remove focus for mouse users */
:focus:not(:focus-visible) {
  outline: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1.6rem;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Set cursor pointer */
label[for],
button,
input[type=submit],
select {
  cursor: pointer;
}

/* Remove font style on address */
address {
  font-style: normal;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Print external URLs */
@media print {
  a {
    text-decoration: underline;
  }

  a[href]:not([href^="#"])::after {
    content: "(" attr(href) ")";
  }
}
/* Helper classes */
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  white-space: nowrap;
}

/* Image replacement technique 2012 H5BP  - https://css-tricks.com/the-image-replacement-museum/ */
.ir {
  font: 0/0 a;
  color: transparent;
  border: 0;
  text-shadow: none;
}

header .menu-link[href="#"], header .menu-link:focus, header .menu-link:hover {
  background-color: #fff;
  color: #FD7E37;
}

.formations h2, .students h2, .actualities h2, .hero .title h2, h1 {
  font-family: Raleway, sans-serif;
  font-weight: 700;
}

.hero .title .meet-link, .follow {
  font-family: Monserrat, sans-serif;
  font-weight: 600;
}

/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat/montserrat-v15-latin-regular.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v15-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/montserrat/montserrat-v15-latin-500.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v15-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/montserrat/montserrat-v15-latin-600.woff2") format("woff2"), url("../fonts/montserrat/montserrat-v15-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-600 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/raleway/raleway-v19-latin-600.woff2") format("woff2"), url("../fonts/raleway/raleway-v19-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/raleway/raleway-v19-latin-700.woff2") format("woff2"), url("../fonts/raleway/raleway-v19-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
  background-color: #fff;
  line-height: 1.5;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 160rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

h1 {
  text-transform: uppercase;
  font-size: 4.8rem;
  line-height: 3rem;
  color: #FFF;
}

.follow {
  font-size: 2.4rem;
  background-color: #FD7E37;
  color: #FFF;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}
.follow img {
  padding-left: 1.6rem;
}

/******** header **********/
header {
  background-color: #FD7E37;
  padding-bottom: 2.2rem;
  padding-top: 2.2rem;
}
header .crossing {
  margin-left: -2rem;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .menu-item {
  display: inline-block;
}
header .menu-link {
  color: #FFF;
  padding: 1em;
  text-transform: uppercase;
}
.hero {
  position: relative;
  height: 90vh;
  background-image: url("../img/photo-arrière-plan.jpg");
  background-repeat: no-repeat;
  background-position: cover;
  margin-bottom: 4rem;
}
.hero .crossing {
  margin-left: -3rem;
}
.hero .title {
  background-color: rgba(0, 0, 0, 0.8);
  padding-left: 2.4rem;
  padding-right: 2.8rem;
  padding-top: 2.3rem;
  padding-bottom: 3rem;
  position: absolute;
  top: 24rem;
  right: 0;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.hero .title h2 {
  font-size: 7.2rem;
  margin-bottom: 3rem;
}
.hero .title .dev {
  text-transform: uppercase;
}
.hero .title .meet-link {
  font-size: 4rem;
  line-height: 3.6rem;
  color: #FFF;
  background-color: #FD7E37;
  padding: 2rem 3rem;
}

.actualities h2 {
  font-size: 4.8rem;
  line-height: 4.8rem;
  color: #331100;
  text-align: center;
  margin-bottom: 4rem;
}
.actualities .actualities-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.actualities .actualities-cards a {
  box-shadow: 0px 0px 48px #00000029;
  border-radius: 0.4rem;
  width: 100%;
  max-width: 40.4rem;
  color: #331100;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  margin-bottom: 4.9rem;
}
.actualities .actualities-img {
  margin-bottom: 2.4rem;
}
.actualities .card-text-content {
  text-align: left;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
.actualities .card-text-content p {
  font-size: 2rem;
  padding-bottom: 2.4rem;
}
.actualities h3 {
  font-size: 2.4rem;
}
.actualities time {
  color: #663014;
}
.actualities time img {
  width: 1.5rem;
  float: left;
  margin-right: 0.8rem;
}

.students {
  padding-top: 4rem;
  background-color: #FD7E37;
  color: #FFF;
  margin-bottom: 4rem;
}
.students h2 {
  font-size: 4.8rem;
  line-height: 3rem;
  text-align: center;
  padding-bottom: 4.3rem;
}
.students .students-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.students .student-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.students .student-item img {
  border-radius: 50%;
  padding-bottom: 2rem;
}
.students h3 {
  padding-bottom: 2rem;
}
.students .student-link {
  color: #FFF;
  margin-bottom: 4.3rem;
  text-decoration: underline;
}

.formations .modules-container {
  display: flex;
  justify-content: space-between;
}
.formations h2 {
  font-size: 4.8rem;
  line-height: 4.8rem;
  text-align: center;
  padding-bottom: 4rem;
}
.formations .formations-link {
  width: 100%;
  max-width: 62.2rem;
}
.formations .formations-img {
  margin-bottom: 4rem;
}
.formations h3 {
  font-family: Raleway, sans-serif;
  font-weight: 600;
  margin-bottom: 4rem;
}

/*# sourceMappingURL=style.css.map */
