.confidentiality {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 4rem;
    @media screen and (min-width: 993px) {
        padding-left: 11rem;
        padding-right: 11rem;
    }
    @media screen and (min-width: 1122px) {
        padding-left: 22rem;
        padding-right: 22rem;
    }
    p {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}