%activelink {
    background-color: #fff;
    color: $orange;
}

%montserratSemiBold {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}

%montserratRegular {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}

%card-link {
    box-shadow: 0px 0px 48px #00000029;
    border-radius: 0.4rem;
    width: 100%;
    color: $dark;
    font-weight: 600;
    align-self: flex-end;
}

%h3title {
    .card-title {
        font-weight: 600;
        padding-bottom: 2.4rem;
    }
}

%button-slide {
    font-family: Montserrat;
    font-weight: 400;
    width: 23rem;
    height: 3rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4rem;
    ul {
        display: flex;
        justify-content: space-between;
        margin-left: -4rem;
        li {
            list-style-type: none;
            width: 3rem;
            height: 3rem;
            button {
                border-radius: 0.4rem;
                background-color: transparent;
                width: 3rem;
                border: 1px solid $orange;
                color: $orange;
                padding-left: 0;
                padding-right: 0;
            }
            .activButton {
                color: #FFF;
                background-color: $orange;
            }
        }  
    }
}
