footer {
    background-color: $orange;
    color: $white;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    border: 1px solid $grey;
    h3 {
        @extend %montserratSemiBold;
        font-size: 2rem;
    }
    .address {
        max-width: 34.4rem;
        padding-bottom: 3rem;
    }
    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 4rem;
        padding-top: 4rem;
        flex-wrap: wrap;
    }
    .mentions {
        padding-bottom: 3rem;
        .mentions-link {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            color: $white;
            &:hover,
            &:focus {
                background-color: $white;
                color: $orange;
            }
        }   
    }
    .socialNetworks {
        margin-right: auto;
        margin-left: auto;
        .socialNetworks-link:not(:last-child) {
            margin-right: 6.6rem;
        }
    }
    @media screen and (min-width: 71.5em) {
        .address {
            max-width: 40.4rem;
            width: 100%;
        }
        .socialNetworks {
            margin-right: 0;
            margin-left: 0;
        }
    }
    @media screen and (min-width: 54.5em) {
        .container {
            flex-direction: row;
            text-align: initial;
        }
        .mentions {
            margin-right: 2rem;
            padding-bottom: 0;
        };
    }
}