footer {
    background-color: $orange;
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    border: 1px solid #707070;
    h3 {
        @extend %montserratSemiBold;
        font-size: 2rem;
    }
    .address {
        width: 100%;
        max-width: 40.4rem;
        svg style {
            fill: red;
        }
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 4rem;
        padding-top: 4rem;
    }
    .mentions-link {
        color: #FFF;
    }
    .mentions-link:first-of-type {
        padding-right: 2rem;
    }
    .socialNetworks-link:not(:last-child) {
        margin-right: 6.6rem;
    }
}