.formations {
    @include dwwm-cards(62.2rem);
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
    a:hover, a:hover time, a:hover .follow {
        background-color: $dark;
        color: #FFF;
    }
    .intro {
        font-weight: 600;
        font-size: 2.4rem;
        width: 100%;
        max-width: 84rem;
        margin-bottom: 4rem;
        margin-left: auto;
        margin-right: auto; 
    }
    @media screen and (min-width: 1060px) {
        .cards {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}