header {
    background-color: $orange;
    padding-bottom: 2.2rem;
    padding-top: 2.2rem;
    .crossing {
        margin-left: -2rem;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-item {
        display: inline-block;
    }
    .menu-link {
        @extend %montserratSemiBold;
        font-size: 2rem;
        color: #FFF;
        padding: 0.7em;
        text-transform: uppercase;
        &:hover, &:focus, &[href="#"] {
            @extend %activelink;
        }
    }
    li:last-child .menu-link {
        margin-right: -1em;
    }
}