.hero {
    position: relative;
    height: 90vh;
    background-image: url("../img/photo-arrière-plan.jpg");
    background-repeat: no-repeat;
    background-position: contain;
    .crossing {
        margin-left: -3rem;
    }
    .title {
        background-color: rgba($color: #000000, $alpha: .8);
        padding-left: 2.4rem;
        padding-right: 2.8rem;
        padding-top: 2.3rem;
        padding-bottom: 3rem;
        position: absolute;
        top: 24rem;
        right: 0;
        color: #FFF;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        h2 {
            @extend %ralewaybold;
            font-size: 7.2rem;
            margin-bottom: 3rem;
        }
        .dev {
            text-transform: uppercase;
        }
        .meet-link {
            @extend %montserratSemiBold;
            font-size: 4rem;
            line-height: 3.6rem;
            color: #FFF;
            background-color: $orange;
            padding: 2rem 3rem;
        }
    }
}