.formations {
    @include dwwm-cards(62.2rem, 2);
    a:hover, a:hover time, a:hover .follow {
        background-color: $dark;
        color: #FFF;
    }
    .intro {
        font-weight: 600;
        font-size: 2.4rem;
        width: 100%;
        max-width: 84rem;
        margin-bottom: 4rem;
        margin-left: auto;
        margin-right: auto; 
    }
}
.list-nav {
    @extend %button-slide;
}