.actualities {
    h2 {
        @extend %ralewaybold;
        font-size: 4.8rem;
        line-height: 4.8rem;
        color: $dark;
        text-align: center;
        margin-bottom: 4rem;
    }
    .actualities-cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        a {
            box-shadow: 0px 0px 48px #00000029;
            border-radius: 0.4rem;
            width: 100%;
            max-width: 40.4rem;
            color: $dark;
            font-family: Montserrat, sans-serif;
            font-weight: 400;
            margin-bottom: 4.9rem;
        }
    }
    .actualities-img {
        margin-bottom: 2.4rem;
    }
    .card-text-content {
        text-align: left;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        p {
            font-size: 2rem;
            padding-bottom: 2.4rem;
        }
    }
    h3 {
        font-size: 2.4rem;
    }
    time {
        color: $brown;
        img {
        width: 1.5rem;
        float: left;
        margin-right: 0.8rem;
        }
    }
}
