body {
    line-height: 1.5;
    color: $dark;
    font-family: Raleway, sans-serif;
}

:focus {
    outline: 3px solid $dark;
}

h1, .like-h1 {
    line-height: 5.5rem;
    font-weight: 700;
    font-size: 4rem;
    @media screen and (min-width: 25.5em) {
        font-size: 5.8rem;
        line-height: 6.5rem;
    }
    @media screen and (min-width: 32em) {
        font-size: 6.2rem;
    }
    @media screen and (min-width: 35.6em) {
        font-size: 7.2rem;
        line-height: 8.6rem;
    }
}

h2, .like-h2 {
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.8rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    color: $dark;
    @media screen and (min-width: 24em) {
        font-size: 4.8rem;
        }
    }

h3 {
    font-size: 2rem;
    @media screen and (min-width: 26em) {
        font-size: 2.4rem;
    }
}

p {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    @media screen and (min-width: 26em) {
        font-size: 2rem;
    }
}

a {
    display: inline-block;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 137rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.follow {
    @extend %montserratSemiBold;
    font-size: 2rem;
    background-color: $orange;
    color: $white;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
    img {
        padding-left: 1.6rem;
    }
    @media screen and (min-width: 26em) {
        font-size: 2.4rem;
    }
}

time {
    @extend %montserratRegular;
    font-size: 1.6rem;
    color: $brown;
    img {
    float: left;
    width: 1.5rem;
    margin-right: 0.8rem;
    margin-top: 0.3rem;
    }
    p {
        font-size: 1.6rem;
    }
}

.list-nav {
    @extend %button-slide;
}