.main-students {
    @include students-card($orange, #FFF, #FFF);
    .student-link:hover {
        background-color: #fff;
        color: $orange;
    }
}

.students {
    @include students-card(#FFF, $dark, $orange);
    .student-link:hover {
        background-color: $orange;
        color: #FFF;
    }
}
