@mixin dwwm-cards($cards-width, $nbColumns) {
    color: $dark;
    .cards {
        display: grid;
        grid-template-columns: repeat($nbColumns, 1fr);
        padding-bottom: 4rem;
        gap: 5rem;
        a {
            @extend %card-link;
            max-width: $cards-width;
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }
    .card-img {
        margin-bottom: 2.4rem;
    }
    .card-text-content {
        flex: 1;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        @extend %h3title;
        h3 {
            margin-top: 1.7rem;
        }
        .card-text {
            padding-bottom: 2.4rem;
        }
    }
}

@mixin student-link-effects($bgColor, $textColor) {
    a:hover p, a:hover h3, a:hover {
        background-color: $bgColor;
        color: $textColor;
    }
}