.oneformation-hero {
    background-image: url("../img/html-code.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .formation-title {
        text-align: center;
        padding-top: 17.2rem;
        padding-bottom: 17.2rem;
        color: #FFF;
    }
}

.main-oneformation {
    p {
        color: $dark;
        font-family: Raleway, sans-serif;
        font-weight: 600;
        font-size: 2.4rem;
        width: 100%;
        max-width: 84rem;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 4rem;
        padding-top: 4rem;
    }
}