.oneformation-hero {
    background-image: url("../img/html-code.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .formation-title {
        font-size: 4rem;
        text-align: center;
        padding-top: 17.2rem;
        padding-bottom: 17.2rem;
        color: #FFF;
        @media screen and (min-width: 570px) {
            font-size: 6rem;
        }
        @media screen and (min-width: 680px) {
            font-size: 7.2rem;
        }
    }
    @media (min-resolution: 144dpi) {
        .hero {
            background-image: url("../img/html-code@2x.jpg");
        }
    }
}

.main-oneformation {
    p {
        color: $dark;
        font-family: Raleway, sans-serif;
        font-weight: 600;
        font-size: 1.7rem;
        width: 100%;
        max-width: 84rem;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 4rem;
        padding-top: 4rem;
        line-height: 1.2;
        @media screen and (min-width: 24.5em) {
            font-size: 2rem;
        }
        @media screen and (min-width: 37.5em) {
            line-height:  1.6;
            font-size: 2.4rem;
        }
    }
}