.onestudent {
    padding-top: 4rem;
    h2 {
        line-height: 3rem;
    }
    figure, img {
        width: 100%;
        max-width: 40.4rem;
        margin-right: auto;
        margin-left: auto;
        img {
            border-radius: 50%;
        }
    }
    ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 4rem;
        column-gap: 3.6rem;
        padding-left: 0;
        padding-bottom: 4rem;
        li {
            list-style-type: none;
            margin-left: auto;
            margin-right: auto;
            h3 {
                font-weight: 600;
                padding-bottom: 2rem;
            }
            p {
                font-family: Montserrat, sans-serif;
                font-weight: 400;
            }
        }
        @media screen and (min-width: 540px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (min-width: 1030px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    
    .some-words {
        p {
            padding-bottom: 4rem;
        }
        h3 {
            padding-bottom: 2rem;
        }
    } 
}
