.main-students, .students {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
    h3 {
        @extend %montserratSemiBold;
        font-size: 2.4rem;
        padding-bottom: 2rem;
    }
    a {
        padding: 2rem 3rem;
        text-align: center;
    }
    @include dwwm-cards(30rem);
    .cards a {
        box-shadow: none;
        padding-top: 1rem;
    }
    .student-link {
        @extend %montserratRegular;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 1.6rem;
        text-decoration: underline;
    }
    @media screen and (min-width: 640px) {
        .cards {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media screen and (min-width: 1060px) {
        .cards {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
.main-students {
    background-color: $orange;
    h3, h2, .student-link {
        color: #FFF;
    }
    @include student-link-effects(#FFF, $orange)
}
.students {
    .cards {
        padding-bottom: 0;
    }
    .student-link {
        margin-bottom: 4rem;
        color: $orange;
    }
    a {
        padding-bottom: 0rem;
    }
    @include student-link-effects($orange, #FFF)
}